@use "../utils";
.right-panel {
  position: absolute;
  width: utils.$right-pannel-width;
  height: calc(100vh - #{utils.$toolbar-height});
  background-color: var(--panel-color);
  bottom: 0;
  &.show {
    right: 0;
  }
  &.hide {
    right: -#{utils.$right-pannel-width};
  }
}
