$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1200px;

$toolbar-height: 3rem;
$left-pannel-width: 16rem;
$right-pannel-width: 16rem;

$border: 1px solid
  rgba(
    $color: #000000,
    $alpha: 0.1,
  );
